* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eeeeee;
}

.navigation {
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0.6px 5px #e7e7e7;
}

.logo-img{
    height: 6vh;
    margin-left: 2rem;
    margin-top: -0.2rem;
}

.go-back{
    text-decoration: none;
    color: #000000;
    left:0.8rem;
    top: 9vh;
    position: absolute;
}

.main-content{
    padding: 1rem;
}

.content-container {
    background: #ffffff;
    width: 100rem;
    min-height: 10rem;
    margin: 2rem auto;
    padding: 2rem;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
    border-left: 1px solid rgba(0, 0, 0, 0.11);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.add-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.add-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.add-item > h2 {
    padding-bottom: 2rem;
}

