body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-container {
    display: flex;
    width: 70%;
    min-height: 5vh;
    justify-content: space-evenly;
}

.go-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 5vh;
}