@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    height: 10vh;
    width: 100%;
    background: #3567C1;
}

.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.small-grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background: blueviolet;
}

.small-grid-item {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: green;
}

.grid-item1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    background: brown;
}