@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eeeeee;
}
.navigation {
    height: 8vh;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0.6px 5px #e7e7e7;
}

.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid-item1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo-img{
    height: 6vh;
    margin-left: 2rem;
    margin-top: -0.2rem;
}

.grid-item2 {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.small-grid-item {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.small-grid-item1{
    display: grid;
    grid-column: 1;
}

.small-grid-item2{
    display: grid;
    grid-column: 2;
}

.small-grid-item3{
    display: grid;
    grid-column: 3;
}

.home-link {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.home-link:hover
{
    color: #3567C1;
    cursor: pointer;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
}
.search-container{
    position: relative;
    height: 100%;
    width: 100rem;
    padding: 4rem;
    margin: 2rem;
    background: #ffffff;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
    border-left: 1px solid rgba(0, 0, 0, 0.11);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.search-box{
    display: grid;
    grid-row: 2;
}

.search-field {
    display: flex;
}
.search-button{
    display: grid;
    grid-row: 2;
    grid-column: 2;
    height: 1.4rem;
    width: 4rem;
    border: none;
    margin-left: 0.2rem;
    background: #3567C1;
    color: #ffffff;
    cursor: pointer;
}

.search-button:hover{
    animation: hover 0.3s ease forwards;
}

@keyframes hover {
    from{
        background-color: #3567C1;
    }
    to{
        background-color: #295bb3;
    }
}

.user-pic{
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: 4rem;
    top: 4rem;
}

.chosen-patient{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 5rem;
    margin-top: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
    border-left: 1px solid rgba(0, 0, 0, 0.11);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.chosen-patient-img {
    height: 2rem;
    position: absolute;
    top: 1.1rem;
    left:0.5rem;
}

.patient-info {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 1rem 0 1rem 3rem;
}

.choose-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.choose-action > a {
    align-self: center;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
    width: inherit;
}

.choose-action > a:hover {
    color: #3567C1;
}

.patient-not-found{
    color: red;
}

.new-meeting{
    text-decoration: none;
}

.read-records{
    text-decoration: none;
}

.schedule-container{
    background: rgba(0,0,0,0.05);
    margin: auto;
    padding: 2rem;
    width: 80rem;
    min-height: 20rem;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
    border-left: 1px solid rgba(0, 0, 0, 0.11);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.schedule-item{
    padding: 1rem;
    background: rgba(0, 0, 0, 0.11);
    border-top: 8px solid rgb(45, 97, 191);
    height: 7rem;
    width: 100%
}