@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eeeeee;
}

.navigation {
    height: 8vh;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0.6px 5px #e7e7e7;
}

.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid-item1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo-img{
    height: 6vh;
    margin-left: 2rem;
    margin-top: -0.2rem;
}

.grid-item2 {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.small-grid-item {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.small-grid-item1{
    display: grid;
    grid-column: 1;
}

.small-grid-item2{
    display: grid;
    grid-column: 2;
}

.small-grid-item3{
    display: grid;
    grid-column: 3;
}

.logout-link {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.logout-link:hover
{
    color: #3567C1;
    cursor: pointer;
}

.go-back{
    text-decoration: none;
    color: #000000;
    left:0.8rem;
    top: 9vh;
    position: absolute;
}

.main-content{
    padding: 1rem;
}
.meeting-container{
    background: #ffffff;
    width: 100rem;
    height: 40rem;
    margin: 2rem auto;
    padding: 2rem;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
    border-left: 1px solid rgba(0, 0, 0, 0.11);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 10rem;
}

.comment-area{
    resize: none;
}

.save-button{
    width: 10rem;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.15);;
    background: #3567C1;
    color: #ffffff;
    cursor: pointer;
}

.save-button:hover{
    animation: hover 0.3s ease forwards;
}

@keyframes hover {
    from{
        background-color: #3567C1;
    }
    to{
        background-color: #295bb3;
    }
}
