@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #eeeeee;
}

.navigation {
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0.6px 5px #e7e7e7;
}

.logo-img{
    height: 6vh;
    margin-left: 2rem;
    margin-top: -0.2rem;
}

.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.small-grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.invisable-link {
    pointer-events: none;
    cursor: default;
}

.grid-item1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.grid-item2 {
    width: 100%;
}

.small-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.go-back {
    text-decoration: none;
    color: #000000;
    left:0.8rem;
    top: 9vh;
    position: absolute;
}

.profile-link {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.profile-link:hover {
    color: #3567C1;
}

.main-content {
    display: flex;
    width: 100rem;
    padding: 2rem 2rem 4rem 2rem;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
    border-left: 1px solid rgba(0, 0, 0, 0.11);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin: 3rem auto;
    background: #ffffff;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.user a{
    font-size: 20px;
    color: #717171;
}

.user-logo {
    width: 18.75rem;
    height: 18.75rem;
}

.info-card {
    width: 65%;
    padding: 2rem;
    margin: 2rem;
    border: solid rgba(0, 0, 0, 0.11) 1px;
}

.name {
    color: #3567C1;
    font-size: 30px;
}

.username {
    color: #717171;
    font-size: 20px;
}

.card-info {
    padding-top: .25rem;
    font-size: 24px;
    color: #717171;
    background: #ffffff;
}