
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    font-family: 'Inter', sans-serif;
}
.body-container{
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-field{
    width: 16rem;
}

.login-container{
    font-size: 1.4rem;
}

.login-button{
    height: 3rem;
    width: 16.5rem;
    font-size: 1rem;
    background-color: #3567C1;
    color: #ffffff;
    border: 1px none;
    border-radius: 4px;
}

.invalid-login{
    display: flex;
    color: red;
}
