
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    font-family: 'Inter', sans-serif;
}
body{
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-field{
    width: 10rem;
}

.login-button{
    height: 2.5rem;
    width: 10.1rem;
    background-color: #3567C1;
    color: #ffffff;
    border: 1px none;
    border-radius: 4px;
}
.login-container{
    display: flex;
    justify-content: center;
}

.invalid-login{
    display: flex;
    color: red;
}
