@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.navigation {
    height: 10vh;
    width: 100%;
    background: #3567C1;
}

.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.small-grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.invisable-link {
    pointer-events: none;
    cursor: default;
}

.grid-item1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.small-grid-item {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tillbaka-link {
    font-size: 30px;
    padding-left: 2rem;
    text-decoration: none;
    color: white;
}
.tillbaka-link:hover {
    color: #dedede
}

.profile-link {
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.profile-link:hover {
    color: #dedede
}

.main-content {
    display: flex;
    width: 75%;
    margin: auto;
    padding-top: 10vh;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.user a{
    font-size: 20px;
    color: #717171;
}

.user-logo {
    width: 18.75rem;
    height: 18.75rem;
}

.info-card {
    width: 65%;
    padding: 2rem;
    margin: 2rem;
    border: solid #717171 1px;
    border-radius: 2rem;
    box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 0.25);
}

.name {
    color: #3567C1;
    font-size: 30px;
}

.username {
    color: #717171;
    font-size: 20px;
}

.card-info {
    padding-top: .25rem;
    font-size: 24px;
    color: #717171;
}