<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/CSS/admin.css">
    <title>Administrering</title>
</head>
<body>
<nav class="navigation">
    <div class="grid-container">
        <div class="grid-item grid-item1"><img src="/images/logo.png" alt="logo" class="logo-img"></div>
        <div class="grid-item grid-item2">
            <div class="small-grid-item small-grid-item1"></div>
            <div class="small-grid-item small-grid-item2"></div>
            <div class="small-grid-item small-grid-item3">
                <a href="/logout" class="logout-link">Logga ut</a>
            </div>
        </div>
    </div>

</nav>
<a href="/home" class="go-back"><h3>🡰 Tillbaka</h3></a>
<div class="main-content">
    <div class="content-container">
        <h1>Administrera Systemet</h1>
        <img src="/images/admin.png" alt="admin logo" class="admin-icon">
        <br><br>
        <hr>
        <br><br>
        <div class="add-container">
            <div class="add-patient add-item">
                <h2>Lägg till patient</h2>
                <form action="/save-patient" class="form-container" method="post">
                    <input class="input-field" name="firstname" type="text" placeholder="Förnamn"><br>
                    <input class="input-field" name="lastname" type="text" placeholder="Efternamn"><br>
                    <input class="input-field" name="personnr" type="text" placeholder="YYYYMMDDXXXX"><br><br>
                    <input type="submit" value="Lägg till" class="add-button">
                </form>
            </div>
            <div class="add-personell add-item">
                <h2 class="add-personell-title">Lägg till Personal</h2>
                <form action="/save-personell" method="post" class="form-grid-container">
                    <div class="section-1 form-grid-item">
                        <input class="input-field" type="text" placeholder="Förnamn" name="firstname"><br>
                        <input class="input-field" type="text" placeholder="Efternamn" name="lastname"><br>
                        <input class="input-field" type="number" name="spec" placeholder="Specialisering"><br>
                        <input class="input-field" type="text" name="email" placeholder="E-mail"><br>
                        <input class="input-field" type="text" placeholder="YYYYMMDDXXXX" name="personnr"><br>
                    </div>
                    <div class="section-2 form-grid-item">
                        <label for="admin" class="admin-text">Tilldela adminbehörighet:</label>
                        <input class="input-field check-box" type="checkbox" id="admin" name="isAdmin" value="1"><br>
                        <input class="input-field" type="text" name="abbrev" placeholder="Namnförkortning/Användarnamn"><br>
                        <input class="input-field" type="password" name="password" placeholder="Lösenord"><br>
                        <input class="input-field" type="password" name="confpass" placeholder="Upprepa lösenord"><br>
                        <input type="submit" value="Lägg till" class="add-button">
                    </div>
                </form>
                {{ createSuccess | raw }}
            </div>
        </div>
    </div>
</div>
</body>
</html>