<!doctype html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/CSS/home.css">
    <title>Hem</title>
</head>
<body>
<nav class="navigation">
    <div class="grid-container">
        <div class="grid-item1">
            <img src="/images/logo.png" alt="logo" class="logo-img">
        </div>
        <div class="grid-item2 small-grid-container">
            {{ nav | raw }}
        </div>
    </div>
</nav>
<div class="main-content">
    <div class="search-patient search-container">
            <h1>Välkommen {{ firstname }}!</h1><br><br>
    <form action="/search" method="post">
        <label for="search-patient">Sök patient med personnummer (12 siffror):</label><br>
        <div class="search-field">
            <input type="text" id="search-patient" name="search-patient" placeholder="YYYYMMDDXXXX" class="search-box">
            <input type="submit" class="search-button" value="Sök">
        </div>

    </form>
{{ chosen | raw }}
    </div>
</div>
<br>
{{ data | raw }}
</body>
</html>