<!doctype html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/CSS/login.css">
    <title>Logga in</title>
</head>
<body class="body-container">
<div class="asc-logo">
    <img src="/images/logo.png" alt="logo">
</div>
<div class="login-container">
    <form action="/auth" method="post">
        <label for="">
            <span>Användarnamn: </span>
            <br>
            <input type="text" id="userName" name="userName" class="input-field" required>
            <br><br>
            <span>Lösenord: </span>
            <br>
            <input type="password" id="passWord" name="passWord" class="input-field" required>
            <br><br>
            <input type="submit" value="Logga in" class="login-button">
        </label>
    </form>
</div>
<p class="invalid-login">{{ loginfail }}</p>
</body>
</html>
